html {
  font-family: Arial, sans-seri;
}
#body {
  /* width: 1200px; */
  display: flex;
  justify-content: center;
  margin: 0 auto;
  position: relative;
}

#back-to-cv {
  position: absolute;
  top: 2rem;
  left: 2rem;
  font-size: 20px;
  display: flex;
  align-items: center;
  color: peru;
}
#back-to-cv:hover {
  color: #666;
}
#back-to-cv i {
  margin-right: 0.8rem;
}

#my_dataviz {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}


rect {
  fill: none;
  pointer-events: all;
}

pre {
  font-size: 18px;
}

line {
  stroke: #0E0;
  stroke-width: 1.5px;
}

.string, .regexp {
  color: #f39;
}

.keyword {
  color: #00c;
}

.comment {
  color: #777;
  font-style: oblique;
}

.number {
  color: #369;
}

.class, .special {
  color: #1181B8;
}

a:link, a:visited {
  color: steelblue;
  text-decoration: none;
}

a:hover {
  color: #666;
}

.node circle {
  cursor: pointer;
  fill: #fff;
  stroke: peru;
  stroke-width: 1.5px;
}

.node text {
  font-size: 20px;
}

path.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2.0px;
}
